/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 9, 2023, 1:30:41 PM
    Author     : ADMIN
*/




/*login form*/



* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fbfbfb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    flex: 1;
}

ul {
    list-style-type: none;
}

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
    margin: 0;
    padding: 0;
}


img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.signin {

    background-color: white;
    border-radius: 10px;
    padding: 50px;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 24px;
}
.signin__content, .signin__image {
    width: calc(50% - 40px);
}
.signin__image > img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.signin__heading {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 30px;
    color: #291667;
}
.signin__caption {
    padding-left: 120px;
    margin-bottom: 45px;
    position: relative;
    font-weight: bold;
    color: #fa4c53;
}
.signin__caption::before {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #fa4c53;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.signin-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 60px;
}
.signin-social__item {
    width: calc(50% - 15px);
    padding: 15px 0px;
    border-radius: 10px;
    border: 1px solid #eee;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    color: #291667;
}
.signin-social__icon {
    margin-right: 15px;
}

.signin-social__text {
    font-size: 14px;
}

.signin-form__group {
    margin-bottom: 30px;
}
.signin-form__label {
    color: #291667;
    display: inline-block;
    margin-bottom: 10px;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    cursor: pointer;
}
.signin-form__input {
    padding: 15px 20px;
    border: 1px solid #eee;
    background-color: #fafbff;
    border-radius: 10px;
    display: block;
    outline: none;
    width: 60%;
}
.signin-form__submit {
    width: 80px;
    height: 80px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #fa4c53;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 65px;
    -webkit-box-shadow: 0 5px 1rem 0 rgba(250, 76, 83, 0.5);
    box-shadow: 0 5px 1rem 0 rgba(250, 76, 83, 0.5);
}

.register {
    color: #291667;
}
.register a {
    text-decoration: none;
    color: #fa4c53;
}


/*register form*/


.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row>*{
    padding-right: 0;

}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.col-2 {
    width: -webkit-calc((100% - 30px) / 2);
    width: -moz-calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2);
}

@media (max-width: 767px) {
    .col-2 {
        width: 100%;
    }
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


/* Remove trailing margins from nested lists.
*/
li > ol,
li > ul {
    margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
    min-width: 0;
    /* [1] */
    border: 0;
}

button {
    outline: none;
    background: none;
    border: none;
}


/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg-blue {
    background: #2c6ed5;
}

.bg-red {
    background: #fa4251;
}

.bg-gra-01 {
    background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
    background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

.bg-gra-02 {
    background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
    background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
    padding-top: 100px;
}

.p-t-130 {
    padding-top: 130px;
}

.p-t-180 {
    padding-top: 180px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-b-100 {
    padding-bottom: 100px;
}

.m-r-45 {
    margin-right: 45px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
    margin: 0 auto;
    margin-top: 24px;
}

.wrapper--w960 {
    max-width: 960px;
}

.wrapper--w780 {
    max-width: 780px;
}

.wrapper--w680 {
    max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
    display: inline-block;
    line-height: 50px;
    padding: 0 50px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn--radius-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.btn--green {
    background: #57b846;
}

.btn--green:hover {
    background: #4dae3c;
}

.btn--blue {
    background: #4272d7;
}

.btn--blue:hover {
    background: #3868cd;
}

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
    background-color: #2c6ed5;
}

input[type="date"] i{
    padding: 14px;
}

.table-condensed td, .table-condensed th {
    font-size: 14px;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.daterangepicker td {
    width: 40px;
    height: 30px;
}

.daterangepicker {
    border: none;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    display: none;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
    display: none;
}

.daterangepicker thead tr th {
    padding: 10px 0;
}

.daterangepicker .table-condensed th select {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px;
    outline: none;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

.input--style-4 {
    line-height: 50px;
    background: #fafafa;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.input--style-4::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #666;
}

.input--style-4:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
    opacity: 1;
}

.input--style-4::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
    opacity: 1;
}

.input--style-4:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #666;
}

.input--style-4:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #666;
}

.label {
    font-size: 16px;
    color: #555;
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-container input:checked ~ .checkmark {
    background-color: #e5e5e5;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #57b846;
}

.checkmark {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #e5e5e5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.input-group {
    position: relative;
    margin-bottom: 22px;
}

.input-group-icon {
    position: relative;
}

.input-icon {
    position: absolute;
    font-size: 18px;
    color: #999;
    right: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
    display: none !important;
}

.rs-select2 .select2-container {
    width: 100% !important;
    outline: none;
    background: #fafafa;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rs-select2 .select2-container .select2-selection--single {
    outline: none;
    border: none;
    height: 50px;
    background: transparent;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
    padding-left: 0;
    color: #555;
    font-size: 16px;
    font-family: inherit;
    padding-left: 22px;
    padding-right: 50px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
    height: 50px;
    right: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
    font-family: "Material-Design-Iconic-Font";
    content: '\f2f9';
    font-size: 24px;
    color: #999;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    overflow: hidden;
}

.select2-container--default .select2-results__option {
    padding-left: 22px;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
    font-size: 24px;
    color: #525252;
    font-weight: 400;
    margin-bottom: 40px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.card-4 {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 .card-body {
    padding: 57px 65px;
    padding-bottom: 65px;
}

@media (max-width: 767px) {
    .card-4 .card-body {
        padding: 50px 40px;
    }
}
/*header*/
.language{
    display: flex;
    justify-content: end;
    align-items: center;
}

.language-link{
    display: flex;
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 15px;
}

.language-link:hover{
    color: #000;
}

.language-cover{
    width: 24px;
    height: 18px;
    margin-right: 5px;
}

.language-cover img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Add transaction*/
.addTransaction .input-group{
    flex-direction: column;
}

.addTransaction .input-group>.form-control{
    width: 90%;
}

.addTransaction .input-group>.form-select{
    width: 85%;
}

.addTransaction h1{
    margin-bottom: 20px;
    text-align: center;
}

/*addGroup*/
.addGroup .input-group{
    flex-direction: column;
}

.addGroup .input-group>.form-control{
    width: 90%;
}

.addGroup .row .input-group>.form-control{
    width: 75%;
}

.addGroup h1{
    margin-bottom: 20px;
    text-align: center;
}

/*Group*/


.group h1{
    margin-bottom: 20px;
    text-align: center;
}

.group table,th,tr,td{
    text-align: center;
}

.group .btn{
    padding: 5px 10px;
    line-height: 1.4;
}

/*group-details*/

.group-details h1{
    margin-bottom: 20px;
    text-align: center;
}

.group-details .group-item{
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.group-details .group-item > span{
    font-weight: normal;
    width: 85%;
}

/*user card*/
.section__member{
    display: none;
}
.show{
    display: block;
}
.hide{
    display: none;
}

.card-list{
    margin: 20px 0;
    padding: 20px;
    max-height: 300px;
    overflow-y: scroll  ;
}

.user_card{
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.user_card_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.user_card > button{
    margin-left: auto;
}

/*transaction*/
.dropdown {
    /*width: 40rem;*/
    width: 230px;
    position: relative;
    margin-left: 20px;
}
.dropdown__select {
    background-color: #42a7fe;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 14px 20px;
    border-radius: 5px;

}

.dropdown__link{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #b3bbce;
    text-align: center;
}
.dropdown__caret {
    margin-left: auto;
}
.dropdown__item {
    color: #b3bbce;
    border-left: 3px solid transparent;
}
.dropdown__item:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.dropdown__item:hover {
    color: #74809d;
    cursor: pointer;
    border-left-color: #42a7fe;
}
.dropdown__list {
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 #ccc;
    position: absolute;
    background-color: white;
    left: 0;
    top: 100%;
    width: 100%;
    display: none;
}

.dropdown__list::before {
    content: "";
    width: 100%;
    height: 20px;
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: 100%;
}
.dropdown:hover .dropdown__list {
    display: block;
}

.nav__transaction{
    display: flex;
    align-items: end;
    margin: 30px 0;
}
.navbar-nav{
    width: 100%;
    align-items: center;
}

.success{
    background-color: green;
    outline: none;
}

/*user details*/
.profile{
    display: flex;
    box-shadow: 0 0 3px 0 #000;
    border-radius: 10px;
}
.profile-group{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.profile-group  .form-control{
    width: 90%;
}
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8;
}

.profile-button {
    background: #BA68C8;
    box-shadow: none;
    border: none;
}

.profile-button:hover {
    background: #682773;
}

.profile-button:focus {
    background: #682773;
    box-shadow: none;
}

.profile-button:active {
    background: #682773;
    box-shadow: none;
}

.back:hover {
    color: #682773;
    cursor: pointer;
}

.back{
    position: relative;
    text-decoration: none;
    color: black;
}
.back h6{
    padding-left: 30px;
}
.back-icon{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* custom inpt file */
.profile-cover{
    position: relative;
}
.file {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fc556f;
    background-color: rgba(253, 156, 132, 1);
    position: relative;
    top: -25px ;
    left: 75px;
}
.file__input {
    display: none;
}
.file__label {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
    z-index: 2;
    color: #fff;
}


/* Home */

.home-title{
    margin: 50px 0;
    font-size: 50px;
    color:#21a67a;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding:  100px 0;
}

.home-title span{
    font-weight: 200;
    color: #000;
}

.home-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
}
.home-info-item{
    width: calc(25% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f0fdf8;
    padding: 30px 0;
    border-radius: 10px;
}
.home-info-cover{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.home-info-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.home-info-item h4{
    font-size: 18px;
}

.feature{
    margin: 0 auto;
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.feature.reverse{
    flex-direction: row-reverse;
}

.feature-cover, .feature-content{
    width: calc(50% - 20px);
}

.feature-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.feature-title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.feature-desc{
    color: #aaacb0;
}

.feedback-user{
    margin: 50px auto;
    width: 960px
}

.feedback-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.feedback-rate{
    text-align: center;
    color: #aaacb0;
    margin-bottom: 80px;
}
.feedback-rate span i{
    color:#ffcc00;
}
.feedback-count{
    font-weight: bold;
    margin: 0 5px;
    font-size: 18px;
    color: black;
}

.feedback-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedback-item{
    width: calc(30% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
}

.feedback-comment{
    text-align: center;
}